apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
  namespace: {{ .Release.Namespace }}
  labels:
    app: immich-machine-learning
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-machine-learning
  template:
    metadata:
      labels:
        app: immich-machine-learning
    spec:
      containers:
        - name: immich-machine-learning
          image: "{{ .Values.microservices.image.repository }}:{{ .Values.microservices.image.tag }}"
          imagePullPolicy: {{ .Values.microservices.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3003
              protocol: TCP
          env:
            - name: TRANSFORMERS_CACHE
              value: /cache
          volumeMounts:
            - name: model-cache
              mountPath: /cache
          resources:
            {{- toYaml .Values.microservices.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
      volumes:
        - name: model-cache
          persistentVolumeClaim:
            claimName: immich-model-cache
