---
apiVersion: v1
kind: Service
metadata:
  name: immich-server
  namespace: {{ .Release.Namespace }}
  labels:
    app: immich-server
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 2283
      targetPort: http
      protocol: TCP
  selector:
    app: immich-server
---
apiVersion: v1
kind: Service
metadata:
  name: immich-machine-learning
  namespace: {{ .Release.Namespace }}
  labels:
    app: immich-machine-learning
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3003
      targetPort: http
      protocol: TCP
  selector:
    app: immich-machine-learning
