apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    app: jellyfin
spec:
  type: NodePort
  ports:
    - name: http
      port: 8096
      targetPort: http
      nodePort: 30843  # NodePort range is 30000-32767, using 30843 (maps to router port 8443)
      protocol: TCP
  selector:
    app: jellyfin
